 <form action="/add-to-card" method ="POST">
      <button >   اضاف به سبدخريد</button>
      <input type="hidden" name="pid" value="<%=productinfo.id%>">
      <a href="/products/<%=productinfo.id%>">جزييات</a>
  </form>