<%-include('../includes/header.ejs')%>

    <div class="container">

        <p>اضاف كردن محصول</p>
    </div>

    <form method="POST" class="navbar-form navbar-left">

        نام : <input type="text" name="title"> 
        <br>
        <br>
        توضيحات : <input type="text" name="desc">
        <br>
        <br>
        قيمت : <input type="text" name="price">
        <br>
        <br>
        
        <button type="Submit" class="btn btn-default">Submit</button>
    </form>


<%-include('../includes/footer.ejs')%>
